<div id="addBtnsContainer" class="hidden flex bg-gray-800 justify-between mt-10 p-10">
    <button id="openAuthor" class="btn bg-blue-500">ADD AUTHOR</button>
    <button id="openPackage" class="btn bg-blue-500">ADD PACKAGE</button>
    <button id="openVersion" class="btn bg-blue-500">ADD VERSION</button>
</div>

<div id="authorContainer" class="hidden flex bg-black/50 h-screen w-screen fixed justify-center items-center backdrop-blur-lg top-0 z-50">
    <div class="card px-8 py-6 rounded-lg bg-gray-800 w-72 m-auto text-black">
        <div class="flex justify-between items-center">
            <h1 class="text-center font-bold text-xl text-white">ADD AUTHOR</h1>
            <button id="closeAuthor" class="text-white text-2xl">X</button>
        </div>
        <form class="my-6" action="./src/controller/author.php" method="post">
            <input name="authorName" class="p-2 my-2 rounded w-[100%] focus:outline-blue-600" required placeholder="Name" type="text">
            <input name="authorMail" class="p-2 my-2 rounded w-[100%] focus:outline-blue-600" required placeholder="Email" type="email">
            <button name="authorSubmit" class="bg-blue-600 hover:bg-blue-500 text-white font-semibold p-2 mt-3 rounded w-[100%]">ADD AUTHOR</button>
        </form>
    </div>
</div>

<div id="packageContainer" class="hidden flex bg-black/50 h-screen w-screen fixed justify-center items-center backdrop-blur-lg top-0 z-50">
    <div class="card px-8 py-6 rounded-lg bg-gray-800 w-72 m-auto text-black">
        <div class="flex justify-between items-center">
            <h1 class="text-center font-bold text-xl text-white">ADD PACKAGE</h1>
            <button id="closePackage" class="text-white text-2xl">X</button>
        </div>
        <form class="my-6" action="./src/controller/package.php" method="post">
            <input name="packageName" class="p-2 my-2 rounded w-[100%] focus:outline-blue-600" required placeholder="Name" type="text">
            <input name="packageDesc" class="p-2 my-2 rounded w-[100%] focus:outline-blue-600" required placeholder="Description" type="text">
            <input name="packageDate" class="p-2 my-2 rounded w-[100%] focus:outline-blue-600" required placeholder="Creation Date" type="date">
            <input name="packageAuthor" class="p-2 my-2 rounded w-[100%] focus:outline-blue-600" required placeholder="Author ID" type="number">
            <button name="packageSubmit" class="bg-blue-600 hover:bg-blue-500 text-white font-semibold p-2 mt-3 rounded w-[100%]">ADD AUTHOR</button>
        </form>
    </div>
</div>

<div id="versionContainer" class="hidden flex bg-black/50 h-screen w-screen fixed justify-center items-center backdrop-blur-lg top-0 z-50">
    <div class="card px-8 py-6 rounded-lg bg-gray-800 w-72 m-auto text-black">
        <div class="flex justify-between items-center">
            <h1 class="text-center font-bold text-xl text-white">ADD VERSION</h1>
            <button id="closeVersion" class="text-white text-2xl">X</button>
        </div>
        <form class="my-6" action="./src/controller/version.php" method="post">
            <input name="versionNum" class="p-2 my-2 rounded w-[100%] focus:outline-blue-600" required placeholder="Version Number" type="text">
            <input name="releaseDate" class="p-2 my-2 rounded w-[100%] focus:outline-blue-600" required placeholder="Release Date" type="date">
            <input name="versionPackage" class="p-2 my-2 rounded w-[100%] focus:outline-blue-600" required placeholder="Package ID for this Version" type="number">
            <button name="versionSubmit" class="bg-blue-600 hover:bg-blue-500 text-white font-semibold p-2 mt-3 rounded w-[100%]">ADD VERSION</button>
        </form>
    </div>
</div>